body {
  background-color: darkkhaki;
  margin: 0;
}

.App {
  /*background-color: magenta;*/
  /*height: 40vh;*/
  /*padding: 30px;*/
  display: flex;
  justify-content: center;
}

.App > div {
  background-color: orange;
  border: solid 5px green;
  padding: 20px;

  margin-top: 60px;
  margin-left: 10px;
}